# Copyright: Team Mobile - Orbis Ventures

# IntelliJ files
.idea
*.iml

# OSX files
.DS_Store

# Windows files
Thumbs.db


php/php.ini
php/php_project/MySQL/
php/php_project/composer.json
php/php_project/composer.lock
php/php_project/composer.phar
php/php_project/libs/
php/php_project/src/classes/Mapper.php
php/php_project/src/dependencies.php
php/php_project/src/routes.php
php/php_project/src/settings.php
php/php_project/v1/
